---
layout: layout
---
<!-- Page Header -->
<header class="intro-header" style="background-image: url('<%= config.root %><%= page["header-img"] || config["header-img"] %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1><%= page.title || config.title %></h1>
                    <!--<hr class="small">-->
                    <span class="subheading"><%= page.description || config.subtitle || "" %></span>
                </div>
            </div>
        </div>
    </div>
</header>



<!-- Main Content -->
<div class="container">
    <div class="row">
        <% if(config.sidebar == false) { %>
<!-- NO SIDEBAR -->
    <!-- Post Container -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
                <%- page.content || body %>
            </div>
    <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

                <!-- Featured Tags -->
                <% if(config['featured-tags']) { %>
                <section>
                    <!-- no hr -->
                    <h5><a href="<%= config.root %>tags/">FEATURED TAGS</a></h5>
                    <div class="tags">
                        <% site.tags.map(function(tag){  %>
                            <% if(tag.length > config['featured-condition-size']) { %>
                            <a href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>" rel="<%= tag.length %>"><%= tag.name %></a>
                            <% } %>
                        <% }) %>
                    </div>
                </section>
                <% }%>


                <!-- Friends Blog -->
                <% if(config.friends) { %>
                <hr>
                <h5>FRIENDS</h5>
                <ul class="list-inline">

                    <% config.friends.forEach(function(friend){ %>
                        <li><a href="<%= friend.href %>"><%= friend.title %></a></li>
                    <% }); %>
                </ul>
                <% }%>
            </div>
        <%} else{ %>

<!-- USE SIDEBAR -->
    <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                post-container
            ">
            
                <%- page.content || body %>
            </div>
    <!-- Sidebar Container -->
            <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">
                <!-- Featured Tags -->
                <% if(config['featured-tags']) { %>
                <section>
                    <!-- no hr -->
                    <h5><a href="<%= config.root %>tags/">FEATURED TAGS</a></h5>
                    <div class="tags">
                        <% site.tags.map(function(tag){  %>
                            <% if(tag.length > config['featured-condition-size']) { %>
                            <a href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>" rel="<%= tag.length %>"><%= tag.name %></a>
                            <% } %>
                        <% }) %>
                    </div>
                </section>
                <% }%>

                <!-- Short About -->
                <section class="visible-md visible-lg">
                    <hr><h5><a href="<%= config.root %>about/">ABOUT ME</a></h5>
                    <div class="short-about">

                        <% if(config['sidebar-avatar']) { %>
                            <img src="<%= config['root'] %><%= config['sidebar-avatar'] %>" />
                        <% } %>

                        <% if(config['sidebar-about-description']) { %>
                            <p><%= config['sidebar-about-description'] %></p>
                        <% }%>

                        <!-- SNS Link -->
                        <ul class="list-inline">
                            <% if (config.RSS) { %>
                                <li>
                                    <a href="<%= config.root + 'feed.xml' %>">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                            <% } %>
                            <% if (config.twitter_username) { %>
                                <li>
                                    <a target="_blank" href="https://twitter.com/<%= config.twitter_username %>">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                            <% } %>
                            <% if (config.zhihu_username) { %>
                                <li>
                                    <a target="_blank" href="https://www.zhihu.com/people/<%= config.zhihu_username %>">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa  fa-stack-1x fa-inverse">知</i>
                                        </span>
                                    </a>
                                </li>
                            <% } %>

                            <% if (config.weibo_username) { %>
                                <li>
                                    <a target="_blank" href="http://weibo.com/<%= config.weibo_username %>">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                            <% } %>

                            <% if (config.facebook_username) { %>
                                <li>
                                    <a target="_blank" href="https://www.facebook.com/<%= config.facebook_username %>">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                            <% } %>

                            <% if (config.github_username) { %>
                                <li>
                                    <a target="_blank"  href="https://github.com/<%= config.github_username %>">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                            <% } %>
                            
                            
                            <% if (config.linkedin_username) { %>
                                <li>
                                    <a target="_blank"  href="https://www.linkedin.com/in/<%= config.linkedin_username %>">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </section>
                
                <!-- Friends Blog -->
                <% if(config.friends) { %>
                <hr>
                <h5>FRIENDS</h5>
                <ul class="list-inline">

                    <% config.friends.forEach(function(friend){ %>
                        <li><a href="<%= friend.href %>" target="_blank"><%= friend.title %></a></li>
                    <% }); %>
                </ul>
                <% }%>
            </div>
        <%} %>
    </div>
</div>
